<h2>Edit beard</h2>

<%= render "form.html", changeset: @changeset, categories: @categories,
                        action: beard_path(@conn, :update, @beard) %>

<%= link "Back", to: beard_path(@conn, :index) %>
